.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 1rem;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(40%, #74c5d9), color-stop(70%, #f1d2ad), color-stop(80%, #ffc7c7));
  background: linear-gradient(#74c5d9 40%, #f1d2ad 70%, #ffc7c7 80%);
  color: white;
  width: 35rem;
  height: 55rem;
  padding: 2rem;
  position: relative;
  -webkit-box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
}

.card.current {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(40%, #74c5d9), color-stop(70%, #f1d2ad), color-stop(80%, #ffc7c7));
  background: linear-gradient(#74c5d9 40%, #f1d2ad 70%, #ffc7c7 80%);
}

.card.moon {
  background: -webkit-gradient(linear, left top, left bottom, from(#010013), color-stop(#191c44), to(#605a82));
  background: linear-gradient(#010013, #191c44, #605a82);
  overflow: hidden;
  position: relative;
}

.card.moon .stars-container {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.card.moon .stars-container span {
  position: absolute;
  top: 0;
  left: 0;
}

.card.sun {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(40%, #00b2bf), color-stop(70%, #ffd044), color-stop(80%, #a32a3a));
  background: linear-gradient(#00b2bf 40%, #ffd044 70%, #a32a3a 80%);
}

.card .current-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  height: 100%;
  width: 100%;
}

.card .current-main .current-date h3 {
  font-size: var(--h3);
  text-transform: uppercase;
  letter-spacing: 2px;
}

.card .current-main .current-temp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 15%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.card .current-main .current-temp h1 {
  font-size: var(--h1);
}

.card .current-main .current-temp h2 {
  font-size: var(--h2);
}

.card .current-main .current-temp h3 {
  font-size: var(--h3);
  margin-top: 1rem;
  letter-spacing: 1px;
}

.card .current-main .dates-precip {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 1rem;
}

.card .current-main .dates-precip .dates {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
}

.card .current-main .dates-precip .day {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 6rem;
  border-radius: 1rem;
  padding: 1rem;
  -webkit-transition: ease 0.5s;
  transition: ease 0.5s;
}

.card .current-main .dates-precip .day:hover {
  background-color: rgba(255, 255, 255, 0.3);
  cursor: pointer;
}

.card .current-main .dates-precip .day h3 {
  font-size: var(--h3);
  line-height: 1.5em;
}

.card .current-main .dates-precip .day.active {
  background-color: rgba(255, 255, 255, 0.3);
}

.card .current-main .dates-precip .precip-wind {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
  width: 9rem;
}

.card .current-main .dates-precip .precip-wind .precip,
.card .current-main .dates-precip .precip-wind .wind {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  gap: 0.5rem;
}

.card .tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 2rem;
  gap: 1rem;
  opacity: 100%;
}

.card .tabs .tab {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  padding: 0.5rem;
  width: 4.5rem;
  -webkit-box-shadow: 0px 0px 5px white;
          box-shadow: 0px 0px 5px white;
  border-radius: 2rem;
}

.card .tabs .tab:hover {
  cursor: pointer;
}

.card .tabs .tab.inactive {
  -webkit-transition: ease 0.5s;
  transition: ease 0.5s;
  opacity: 50%;
}

.card img {
  width: 5rem;
}

@media screen and (max-width: 600px) {
  .card.current, .card.sun, .card.moon {
    padding: 4rem;
    width: 100%;
    height: 100%;
    border-radius: 0;
  }
  .card .current-main .current-temp {
    -webkit-box-flex: 0;
        -ms-flex: 0;
            flex: 0;
  }
}
/*# sourceMappingURL=Current.css.map */