.moon-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 15%;
  text-transform: uppercase;
  height: 100%;
  gap: 1rem;
  position: relative;
  h3 {
    font-size: var(--h3);
    letter-spacing: 2px;
  }
  .moon-img {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    height: 6rem;
    width: 6rem;
    border-radius: 100%;
    position: relative;
    margin: 5rem 0;
    &::before,
    &::after {
      content: '';
      position: absolute;
      background-color: white;
      width: 7rem;
      height: 7rem;
      border-radius: 100%;
      opacity: 50%;
    }
    &::after {
      width: 10rem;
      height: 10rem;
      opacity: 30%;
    }
  }
  .moon-info {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4rem;
    flex: 1;
    .moonrise-set {
      display: flex;
      gap: 5rem;
    }
    .moonrise-set,
    .illum {
      h3:first-of-type {
        position: relative;
        display: inline-block;
        margin-bottom: 2rem;
        &:before {
          content: '';
          position: absolute;
          width: 100%;
          height: 1px;
          bottom: -5px;
          border-bottom: 1px solid rgba(255, 255, 255, 0.3);
        }
      }
    }
  }
}
