.sun-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
  height: 100%;
  gap: 1rem;
  position: relative;
}

.sun-card h2 {
  font-size: var(--h2);
  letter-spacing: 3px;
}

.sun-card h3 {
  font-size: var(--h3);
  letter-spacing: 3px;
}

.sun-card .sun-info-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 5rem;
}

.sun-card .sun-info-container .sun-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 10rem;
}

.sun-card .sun-info-container .sun-info h3:nth-of-type(2) {
  opacity: 70%;
}

.sun-img {
  width: 10rem;
  height: 10rem;
  border: 2px solid white;
  -webkit-box-shadow: 0px 0px 50px white;
          box-shadow: 0px 0px 50px white;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  background-color: var(--white);
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
}

.sun-img::before {
  content: ' ';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  background-color: white;
  width: 50%;
  height: 100%;
}

.sun-disc {
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  width: 100%;
  height: 100%;
}

.sun-disc::before, .sun-disc::after {
  content: ' ';
  display: block;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  -webkit-transition: -webkit-transform 4s;
  transition: -webkit-transform 4s;
  transition: transform 4s;
  transition: transform 4s, -webkit-transform 4s;
  position: absolute;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.sun-disc::before {
  background-color: white;
}

.sun-disc::after {
  background-color: var(--white);
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
  }
  100% {
    -webkit-transform: rotateY(360deg);
            transform: rotateY(360deg);
  }
}

@keyframes rotate {
  0% {
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
  }
  100% {
    -webkit-transform: rotateY(360deg);
            transform: rotateY(360deg);
  }
}

@-webkit-keyframes flip {
  0% {
    left: 0;
  }
  100% {
    left: 100%;
  }
}

@keyframes flip {
  0% {
    left: 0;
  }
  100% {
    left: 100%;
  }
}

@-webkit-keyframes ray_anim {
  0% {
    -webkit-animation: rotate(0deg);
            animation: rotate(0deg);
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-animation: rotate(360deg);
            animation: rotate(360deg);
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes ray_anim {
  0% {
    -webkit-animation: rotate(0deg);
            animation: rotate(0deg);
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-animation: rotate(360deg);
            animation: rotate(360deg);
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.sun-box {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background: white;
  opacity: 0.9;
  -webkit-box-shadow: 0px 0px 40px 15px white;
          box-shadow: 0px 0px 40px 15px white;
}

.ray_box {
  position: absolute;
  margin: auto;
  top: 0px;
  left: 0;
  right: 0;
  bottom: 0;
  width: 70px;
}

.ray {
  background: -webkit-gradient(linear, left top, left bottom, from(white), color-stop(rgba(255, 255, 255, 0.8)), to(transparent));
  background: linear-gradient(white, rgba(255, 255, 255, 0.8), transparent);
  border-radius: 80% 80% 0 0;
  position: absolute;
  opacity: 0.3;
}

.ray.tleft, .ray.tright, .ray.center, .ray.bleft, .ray.bright {
  height: 170px;
  width: 30px;
}

.ray.tleftS, .ray.trightS, .ray.centerS, .ray.bleftS, .ray.brightS {
  height: 110px;
  width: 10px;
}

.ray.tleft {
  -webkit-transform: rotate(110deg);
          transform: rotate(110deg);
  top: -90px;
  left: -105px;
}

.ray.tright {
  -webkit-transform: rotate(250deg);
          transform: rotate(250deg);
  top: -90px;
  right: -105px;
}

.ray.center {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  top: -180px;
  right: 20px;
}

.ray.bleft {
  -webkit-transform: rotate(35deg);
          transform: rotate(35deg);
  top: 55px;
  left: -60px;
}

.ray.bright {
  -webkit-transform: rotate(325deg);
          transform: rotate(325deg);
  top: 55px;
  right: -60px;
}

.ray.tleftS {
  -webkit-transform: rotate(140deg);
          transform: rotate(140deg);
  top: -100px;
  left: -35px;
}

.ray.trightS {
  -webkit-transform: rotate(220deg);
          transform: rotate(220deg);
  top: -100px;
  right: -35px;
}

.ray.centerS {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
  bottom: -120px;
  right: 30px;
}

.ray.bleftS {
  -webkit-transform: rotate(60deg);
          transform: rotate(60deg);
  top: 20px;
  left: -65px;
}

.ray.brightS {
  -webkit-transform: rotate(300deg);
          transform: rotate(300deg);
  top: 20px;
  right: -65px;
}
/*# sourceMappingURL=Sun.css.map */