.sun-card {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-transform: uppercase;
  height: 100%;
  gap: 1rem;
  position: relative;
  h2 {
    font-size: var(--h2);
    letter-spacing: 3px;
  }
  h3 {
    font-size: var(--h3);
    letter-spacing: 3px;
  }
  .sun-info-container {
    display: flex;
    flex-direction: column;
    gap: 5rem;

    .sun-info {
      display: flex;
      justify-content: space-between;
      gap: 10rem;
      h3:nth-of-type(2) {
        opacity: 70%;
      }
    }
  }
}

@keyframes ray_anim {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.sun-box {
  position: relative;
  width: 10rem;
  height: 10rem;
  background: white;
  inset: 0;
  border-radius: 100%;
  box-shadow: 0px 0px 50px 15px rgba(255, 255, 255, 1);
  opacity: 0.9;
  .ray-box {
    position: absolute;
    margin: auto;
    inset: 0;
    width: 70px;
    animation: ray_anim 120s linear infinite;
  }
  .ray {
    background: linear-gradient(
      transparent,
      rgba(255, 255, 255, 0.8),
      transparent
    );
    border-radius: 80% 80% 0 0;
    position: absolute;
    opacity: 0.1;
    &.tleft,
    &.tright,
    &.center,
    &.bleft,
    &.bright {
      height: 170px;
      width: 30px;
    }
    &.tleftS,
    &.trightS,
    &.centerS,
    &.bleftS,
    &.brightS {
      height: 110px;
      width: 10px;
    }
    &.tleft {
      transform: rotate(115deg);
      top: -90px;
      left: -95px;
    }
    &.tright {
      transform: rotate(245deg);
      top: -90px;
      right: -95px;
    }
    &.center {
      transform: rotate(180deg);
      top: -160px;
      right: 20px;
    }
    &.bleft {
      transform: rotate(40deg);
      top: 60px;
      left: -65px;
    }
    &.bright {
      transform: rotate(320deg);
      top: 60px;
      right: -65px;
    }
    &.tleftS {
      transform: rotate(145deg);
      top: -90px;
      left: -30px;
    }
    &.trightS {
      transform: rotate(215deg);
      top: -90px;
      right: -30px;
    }
    &.centerS {
      transform: rotate(360deg);
      bottom: -107px;
      right: 30px;
    }
    &.bleftS {
      transform: rotate(75deg);
      top: 15px;
      left: -70px;
    }
    &.brightS {
      transform: rotate(285deg);
      top: 15px;
      right: -70px;
    }
  }
}
