.weather-app {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 5rem;
  color: var(--slate);
  height: 100%;
  .loading {
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 1px black;
    border-radius: 1rem;
    width: 35rem;
    height: 55rem;
  }
  &.curr {
    // background: linear-gradient(#74c5d9 40%, #f1d2ad 70%, #ffc7c7 80%);
    background-color: rgb(116, 197, 217);
    background-image: radial-gradient(
        circle farthest-corner at top left,
        rgba(241, 210, 173, 1) 0%,
        rgba(225, 243, 97, 0) 50%
      ),
      radial-gradient(
        circle farthest-side at top right,
        rgba(255, 199, 199, 1) 0%,
        rgba(181, 176, 177, 0) 50%
      ),
      radial-gradient(
        circle farthest-corner at bottom right,
        rgba(241, 210, 173, 1) 0%,
        rgba(204, 104, 119, 0) 70%
      ),
      // radial-gradient(
      //   circle farthest-corner at top right,
      //   rgba(241, 210, 173, 1) 0%,
      //   rgba(155, 221, 240, 0) 50%
      // ),
      radial-gradient(
          ellipse at bottom center,
          rgba(116, 197, 217, 1) 0%,
          rgba(254, 43, 0, 0) 80%
        );
  }
  &.sun {
  }
  &.moon {
    background-color: black;
  }
  .date {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .weather-cards {
    display: flex;
    align-items: stretch;
    justify-content: center;
    gap: 3rem;
    // margin-top: 5%;
    min-height: 30rem;
  }
  .request-location {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: lightpink;
    color: white;
    border-radius: 1rem;
    padding: 2rem;
    gap: 2rem;
    button {
      padding: 1rem 1.5rem;
      border: none;
      border-radius: 2rem;
      background-color: var(--offwhite);
      transition: ease 0.3s;
      cursor: pointer;
      &:hover {
        color: white;
        background-color: transparent;
        box-shadow: 0px 0px 10px #fff;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .weather-app {
    height: 100%;
    padding: 0;
    .weather-cards {
      margin: 0;
      width: 100%;
      height: 100%;
    }
  }
}
