.weather-app {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: var(--slate);
  height: 100vh;
}

.weather-app .loading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: solid 1px black;
  border-radius: 1rem;
  width: 35rem;
  height: 55rem;
}

.weather-app.curr {
  background-color: #74c5d9;
  background-image: radial-gradient(circle farthest-corner at top left, #f1d2ad 0%, rgba(225, 243, 97, 0) 50%), radial-gradient(circle farthest-side at top right, #ffc7c7 0%, rgba(181, 176, 177, 0) 50%), radial-gradient(circle farthest-corner at bottom right, #f1d2ad 0%, rgba(204, 104, 119, 0) 70%), radial-gradient(ellipse at bottom center, #74c5d9 0%, rgba(254, 43, 0, 0) 80%);
}

.weather-app.moon {
  background-color: var(--black);
}

.weather-app .date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.weather-app .weather-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 3rem;
  height: 100%;
}

.weather-app .request-location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: lightpink;
  color: var(--white);
  border-radius: 1rem;
  padding: 2rem;
  gap: 2rem;
}

.weather-app .request-location button {
  padding: 1rem 1.5rem;
  border: none;
  border-radius: 2rem;
  background-color: var(--offwhite);
  -webkit-transition: ease 0.3s;
  transition: ease 0.3s;
  cursor: pointer;
}

.weather-app .request-location button:hover {
  color: var(--white);
  background-color: transparent;
  -webkit-box-shadow: 0px 0px 10px var(--white);
          box-shadow: 0px 0px 10px var(--white);
}

@media screen and (max-width: 600px) {
  .weather-app {
    padding: 0;
  }
  .weather-app .weather-cards {
    margin: 0;
    width: 100%;
  }
}
/*# sourceMappingURL=WeatherApp.css.map */